body{
  /*
    3f3f3f
    96abfb
    1d2230
  */
  background-color: #1b1b1b;
  color: #e4eaed;
  font-family: arial;
  font-weight: bold;
  margin: 0px;
}

.main{
  padding-top: 28px;
  padding-left: 12px;
}

.block{
  display: block;
  margin: 3px 0px;
}

.text{
  display: inline;
}

.text.green{
  color: #98c379;
}

.link{
  cursor: pointer;
}

a,
a:link,
a:visited,
a:hover,
a:active{
  color: #b89aed;
  text-decoration: none;
}

h1{
  margin-top: 0px;
}

input{
  border: none;
  padding: 3px;
  background-color: #4f4f4f;
  color: inherit;
}

input.search{
  width: 500px;
}

.search-results{
  margin-top: 15px;
}

.info-div{
}

.info-inner{
  display: inline-block;
  vertical-align: top;
}

.info-left{
  width: 150px;
}

.info-right{
}